header {
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position:relative;
}

/* ===== cta ===== */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* ===== Header Socials ===== */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ===== ME ===== */
.me {
    background: var(--color-white);
    width: 30%;
    /* height: 28rem; */
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* ===== Scroll Down ===== */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ======= media queries (Medium Devices) ==== */

@media screen and (max-width: 1024px) {
    /* header {
        height: 68vh;
    } */

    .me {
        width: 20%;
    }
}


@media screen and (max-width: 820px) {
    /* header {
        height: 100vh;
    } */

    .header__socials,
    .scroll__down {
        display: none;
    }

    .me {
        background: var(--color-white);
        width: 19.5rem;
        height: 20rem;
        position: absolute;
        left: calc(48.5% - 11rem);
        margin-top: 15rem;
        border-radius: 12rem 12rem 0 0;
        overflow: hidden;
        padding: 5rem 1.5rem 1.5rem 1.5rem;
    }
}

/* ======= media queries (Small Devices) ==== */

@media screen and (max-width: 600px) {

    .header__socials,
    .scroll__down {
        display: none;
    }

    .me {
        background: var(--color-white);
        width: 19.5rem;
        height: 20rem;
        position: absolute;
        left: calc(48.5% - 11rem);
        margin-top: 9rem;
        border-radius: 12rem 12rem 0 0;
        overflow: hidden;
        padding: 5rem 1.5rem 1.5rem 1.5rem;
    }
}

/* ======= media queries (Small Devices 360px) ==== */
@media screen and (max-width: 360px) {

    .header__socials,
    .scroll__down {
        display: none;
    }

    .me {
        background: var(--color-white);
        width: 20rem;
        height: 20rem;
        position: absolute;
        left: calc(49.5% - 10.5rem);
        margin-top: 4rem;
        border-radius: 12rem 12rem 0 0;
        overflow: hidden;
        padding: 5rem 1.5rem 1.5rem 1.5rem;
    }
}